// ------------- MIXINS --------------
@mixin nav-styles {
  margin: 10px;
  padding: 5px;
  display: block;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid whitesmoke;
    border-radius: 10px;
  }
}
// ------------- MIXINS --------------

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, monospace;
}

body {
  font-family: Roboto, monospace;
  margin: 0;
  padding: 0;
}
.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;

  &--login {
    flex-direction: column;
  }

  &--time {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-radius: 5%;
  }
}

.form__controls--timesheet {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.form__fields--timesheet {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 0px;
}

.form__group {
  display: flex;
  margin-bottom: 10px;
  &--row {
    flex-direction: row;
  }
  &--column {
    flex-direction: column;
  }
}

.form__label {
  display: flex;
  align-items: center;

  &--column {
    margin-bottom: 5px;
    display: block;
  }

  &--row {
    margin: 0px 5px;
  }

  &--rowStart {
    margin: 0 5px 0 0;
  }
}

.info-timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}
.info-timer__value {
  margin: 0 10px;
}
.info-timer__img {
  height: auto;
  width: 50px;
}

.form__inputText {
  width: 100%;
  padding: 10px 20px 6px;
  border: none;
  border-bottom: 2px solid #750570;
  border-radius: 5px;
  outline: none;
  &--textarea {
    height: 100%;
    resize: vertical;
  }
}
.btn {
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  &--loginSubmit {
    width: 50%;
    padding: 10px 20px;
    background: #109205;
    color: white;
    &:hover {
      background: #1cc50d;
    }
  }
  &--timesheet {
    width: 36px;
    height: 36px;
    padding: 10px 10px;
    color: white;
    &--add {
      background: #109205;
      &:hover {
        background: #1cc50d;
      }
    }
    &--edit {
      background: #0b3bbe;
      &:hover {
        background: #3a63d3;
      }
    }
    &--clear {
      background: #a50b0b;
      &:hover {
        background: #c72222;
      }
    }
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: whitesmoke;
  background: #750570;
}

.header__section {
  display: flex;
  flex-direction: row;
  align-items: center;

  &--reverse {
    flex-direction: row-reverse;
  }
}

.header__label {
  margin: 10px;
  display: block;
}

.logo {
  margin: 10px;
  display: block;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__item {
  @include nav-styles;
  a {
    text-decoration: none;
    color: whitesmoke;
  }
}

.menu {
  @include nav-styles;
}

.page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  &--login {
    align-items: center;
    height: 80vh;
  }
  &--time {
    align-items: center;
  }
}
.panel {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  margin: 5px;
  &--login {
    flex-direction: column;
    background-color: #f2f2f2;
  }
  &--totalTime {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &--timesheet {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
}

/// Time Entry

.container {
  display: flex;
  width: 100vw;
  margin: 0 auto;
}

.time-entries {
  padding: 0 10%;
  background: #f5f5f5;
  width: 100%;
}

.time-entry {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  display: flex;
}

.time-details {
  padding: 10px;
  background: #e5e5e5;
  flex: 10;
}

.time-stamps {
  display: flex;
}

.time-stamp {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  &:first-child {
    margin-right: 10px;
  }
}

.time-stamp__text {
  flex: 1;
  margin: 0 10px 0 0;
}

.time-stamp__input {
  flex: 10;
  padding: 5px;
}

.time-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.time-actions {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}

.time-action {
  text-decoration: none;
  color: white;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &--delete {
    background: red;
  }

  &--edit {
    background: blue;
  }

  &--timer {
    background: goldenrod;
  }
}
