*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, monospace;
  margin: 0;
  padding: 0;
}
.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}
.form--login {
  flex-direction: column;
}
.form--time {
  flex-direction: row-reverse;
  background-color: #f2f2f2;
  border-radius: 5%;
}

.form--group--row {
  width: 40%;
  margin-left: 10px;
  margin-bottom: 0px;
}

.form--group--column {
  width: 100%;
  margin-bottom: 10px;
}
label {
  margin-bottom: 5px;
  display: block;
}
.form--input--text {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid #750570;
  border-radius: 5%;
  outline: none;
}
.btn {
  border: none;
  border-radius: 5%;
  outline: none;
  cursor: pointer;
}

.btn--loginSubmit {
  width: 50%;
  padding: 10px 20px;
  background: #109205;
  color: white;
  &:hover {
    background: #1cc50d;
  }
}

.btn--addTimesheet {
  width: 36px;
  height: 36px;
  padding: 10px 10px;
  background: #109205;
  color: white;
  &:hover {
    background: #1cc50d;
  }
}

.header--leftSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header--rightSection {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.logo {
  margin: 10px;
  display: block;
}
.header--division {
  margin: 10px;
  display: block;
}
.header--title {
  margin: 10px;
  display: block;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav--item {
  margin: 10px;
  padding: 5px;
  display: block;
  a {
    text-decoration: none;
    color: whitesmoke;
  }
  &:hover {
    border-bottom: 2px solid whitesmoke;
    border-radius: 10px;
  }
}

.menu {
  margin: 10px;
  padding: 5px;
  display: block;
  &:hover {
    background: #be09b5;
    border: #be09b5;
    border-radius: 10px;
  }
}

.page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.page--login {
  align-items: center;
  height: 80vh;
}

.page--time {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: whitesmoke;
  background: #750570;
}
.panel {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 5%;
}

.panel--login {
  flex-direction: column;
}
.heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.panel--timesheet {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}
.formControls {
  display: flex;
  flex-direction: column;
}

.formDetails {
  display: flex;
  flex-direction: column;
}
